<div class="container-fluid">
    <div class="row  justify-content-center align-items-center" style="height:80vh">
        <div class="col-md-12">
            <div class="card teste">
  
                <mat-card class="example-card container justify-property-center ">
                  <h1>INICIE O SEU PEDIDO</h1>

                  <button mat-raised-button routerLink="/montar-pizza" color="primary">Monte sua pizza</button>
                
                    
                  
                    
                  </mat-card>
  
              </div>
          </div>
      </div>